[Unit]
Description=MCP Birdwatching Server
After=network.target

[Service]
WorkingDirectory={{ server_dir }}
Environment="PYTHONUNBUFFERED=1"
EnvironmentFile={{ server_dir }}/.env
ExecStart={{ server_dir }}/venv/bin/python {{ server_dir }}/main.py
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
